<!doctype html>
<html lang="en">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-G5VK7R83ES"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-G5VK7R83ES');
</script>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ name }}. {{ title }}</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container page">
    <div class="row">
        <div class="col-md-6 col-print-6">
            <h1>{{ name }}<br/>{{ title }}</h1>
            <p>
                <time datetime="{{ buildinfo.date }}" class="text-muted">Last update: {{ updated }}</time>
            </p>
            <p>
                <span class="screen"><a href="{{ pdfFileName }}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Download PDF version</a></span>
                <span class="print">The online version is available at <a href="{{ baseUrl }}" class="text-nowrap"><i
                    class="fa fa-github" aria-hidden="true"></i>{{ baseUrl }}</a></span>
            </p>
        </div>
        <div class="col-md-6 col-print-6">
            <dl class="row">
                {{#each facts}}

                <dt class="col-4 col-md-5 text-md-right text-print-right font-weight-normal">{{ @key }}</dt>
                <dd class="col-8 col-md-7">{{{ this }}}</dd>
                {{/each}}
            </dl>
        </div>
    </div>

    <h3 class="screen">Technical Skills</h3>
    <div class="row mb-4">
        {{#each skills}}
        <div class="col-print-1 col-3 col-md-2 col-lg-1 text-right">
            <small>{{ this.[0] }}</small>
        </div>
        <div class="col-print-1 col-3 col-md-2 col-lg-1">
            {{ this.[1] }}
        </div>
        {{/each}}
    </div>

   <h2>Professional Experience</h2>
    {{#each positions}}
    <div class="card mb-4" style="">
        <div class="card-body">
            <h3>{{ company }},
                <small>{{ location }}</small>
            </h3>
            <p>{{ title }}</p>
            <p class="text-muted">{{ period }}</p>

            <div>{{{markdown contents }}}</div>

            <p>
                {{#each skills }}
                <span class="badge badge-primary">{{ this }}</span>
                {{/each}}
            </p>

            {{#if review}}
            <p>
                Reference: <a href="{{ ../baseUrl }}{{ review.file }}">{{ review.author }}</a>
            </p>
            {{/if}}
        </div>
    </div>
    {{/each}}

    {{#if career}}
    <h3>Career insights</h3>
    <dl class="row">
       {{#each career}}
       <dt class="col-md-2">{{this.period}}</dt>
       <dd class="col-md-10 mb-3">{{this.title}}</br>{{this.desc}}</dd>
       {{/each}}
    </dl>
    {{/if}}

    <h2>Education</h2>
    <ul>
      {{#each education}}
        <i class="fab {{this.icon}}"></i>
        {{ this.major }}. {{this.university}} [{{this.period}}]
      {{/each}}
    </ul>

    {{#if release}}
    <h2>Release</h2>
    <ul>
        {{#each release}}
        <li><i class="fab {{this.icon}}"></i>
        [{{this.type}}]
        {{#if this.url}}
            <a href="{{this.url}}">
        {{/if}}
            {{this.title}}</a> - {{this.date}}
        </li>
        {{/each}}
    </ul>
    {{/if}}

    <h2>Certifications</h2>
    <ul>
       {{#each certifications}}
       <li><i class="fab {{this.icon}}"></i> 
        {{#if this.url}} 
	    <a href="{{this.url}}">
        {{/if}}
        {{this.title}}</a> - {{this.date}}
       </li>
       {{/each}}
    </ul>

    {{#if addExperience}}
    <h2>Additional Experience</h2>
    <ul>
        {{#each addExperience}}
        <li><i class="fab {{this.icon}}"></i>
            [{{this.type}}]
            {{#if this.url}}
                <a href="{{this.url}}">
            {{/if}}
            {{this.title}}</a> - {{this.date}}
        </li>
        {{/each}}
    </ul>
    {{/if}}
    {{#if award}}
    <h2>Award</h2>
    <ul>
        {{#each award}}
        <li><i class="fab {{this.icon}}"></i>
        {{#if this.url}}
            <a href="{{this.url}}">
        {{/if}}
        {{this.title}}</a> - {{this.date}}
        </li>
        {{/each}}
    </ul>
    {{/if}}
</div>
</body>
</html>
